@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../font/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Regular.ttf');
}
@font-face {
    font-family: 'GothamBlack';
    src: url('../font/gotham_black.otf');
}